p-button button.p-element.p-button.p-component {
    width: auto;
}
label.up,
label.down {
    padding-top: 8px;
    margin-bottom: 0px;
    font-size: 1.2rem;
    i {
        font-size: 1.4rem;
        color: #1cbfff;
    }
}
label.status {
    padding-top: 8px;
    margin-bottom: 0px;
    font-size: 1.2rem;
    i {
        font-size: 1.4rem;
    }
    i + span {
        padding-left: 5px;
    }
    span.range {
        height: 12px;
        width: 12px;
        display: inline-block;
        &.bad {
            background-color: #ff3300;
        }
        &.normal {
            background-color: #ffcc99;
        }
        &.good {
            background-color: green;
        }
        &.no-value {
            background-color: #000000;
        }
    }
    span + span {
        padding-left: 5px;
    }
}
label + label {
    padding-left: 5px;
}
p-calendar {
    input {
        width: 165px !important;
    }
}

.card-log {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    height: 10rem;
    overflow: auto;

    &:last-child {
        margin-bottom: 0;
    }
}

.scrollable-content {
    height: 100%; /* Sử dụng chiều cao 100% của container */
    margin: 0; /* Xóa margin mặc định của thẻ <p> */
    padding: 10px; /* Tùy chỉnh padding cho phù hợp */
}
